body {
    background-image: url('https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg');
    background-size: cover;
    color: white;
}

.vinyl {
    width: 300px;
}

.cover {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.disque {
    position: relative;
    display: inline-block;
    animation: turn 4s infinite linear ;
}

h1 {
    text-align: center;
}

.page {
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

.play{
    display: flex;
    justify-content: center;
    
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pause{
    animation-play-state: paused;
}

#playlist{
    display: none;
    background-color: rgba(0, 0, 255, 0.2);
    text-align: center;
}

.listmusic {
    gap: 10px;
    list-style: none;
}